* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 1280px;
    color: #3b3b3b;
    font-size: 24px;
}

p,
h1,
h2,
h3,
h4,
a {
    margin: 0;
    font-weight: 400;
}

a,
a:visited,
a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}


#intro {
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
}

.intro__hed {
    font-size: 2em;
    margin: 2rem auto 0.5rem auto;
}

.intro__dek {
    color: #8a8a8a;
}


@keyframes octocat-wave {
    0%,
    100% {
    transform: rotate(0);
    }

    20%,
    60% {
    transform: rotate(-25deg);
    }

    40%,
    80% {
    transform: rotate(10deg);
    }
}

#intro {
    margin-bottom: 320px;
}


/* AJUSTE PÃGINA */

/* #scrolly {
    position: relative;
    background-color: #f3f3f3;
    padding: 1rem;
} */

article {
    position: relative;
    padding: 1rem;
    margin: 0 1rem;
    background-color: #f3f3f3;
    /* margin: 1 auto; */
}

figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #8a8a8a;
    z-index: 0;
}

figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.step {
    margin: 1rem;
    color: #fff;
    opacity: 0.8;
    position: relative;
    display: flex;
}

.step >div{
    width: 100%;
    background-color: greenyellow;
}

.step-center >div,
.step-left > div,
.step-right > div {width: 40%;}

.step-center{justify-content: center}

.step-left{justify-content: left;}

.step-right{justify-content: right;}


.step:last-child {
    margin-bottom: 0;
}

.step.is-active p {
    background-color: goldenrod;
    color: #3b3b3b;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
}


/* MEUS AJUSTES */

section {
    margin: 2rem;
}

#group-2{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f3f3f3;
    padding: 0 1rem;
}

#group-2>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#group-2 >div{
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
}

#group-2 figure {
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #8a8a8a;
    z-index: 0;
}