* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p,
h1,
h2,
h3,
h4,
a {
    margin: 0;
    font-weight: 400;
}

a,
a:visited,
a:hover {
    color: teal;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}


#intro {
    text-align: center;
}

#intro .img{
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 20%;
    box-sizing: border-box;
    position: relative;
}
.img span{
    font-size: x-small;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.intro__hed {
    font-size: 2em;
    margin: 2rem auto 0.5rem auto;
}

.intro__dek {
    color: #8a8a8a;
}


@keyframes octocat-wave {
    0%,
    100% {
    transform: rotate(0);
    }

    20%,
    60% {
    transform: rotate(-25deg);
    }

    40%,
    80% {
    transform: rotate(10deg);
    }
}

#intro {
    margin-bottom: 1rem;
}

/* AJUSTE PÃGINA */

article {
    position: relative; 
}

figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #8a8a8a;
    z-index: 0;
}

figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
}

.step {
    margin: 1rem;
    opacity: 0.9;
    position: relative;
    display: flex;
    
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid black
}

.step >div{
    width: 100%;
}

.step-center >div,
.step-left > div,
.step-right > div {width: 40%;}

.step-center{justify-content: center}

.step-left{justify-content: left;}

.step-right{justify-content: right;}


.step:last-child {
    margin-bottom: 0;
}

/* MEUS AJUSTES */
.hidden{
    display: none;
}

section {
    margin: 2rem;
}

p{
    margin: 1rem 0;
}

#group-2{
    display: flex;
    position: relative;
    padding: 0 1rem;
}

#group-2>* {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#group-2 >div{
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
}

#group-2 figure {
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* MAP Config */

#map{
    height: 400px;
}